body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("images/traveling-based-on-fare-deals.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    background-color: #b2741d;
    color: #e6e3ed;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #dddce6;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #cdced1;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
